body {margin-left: 1%; margin-right: 1%; color: black; background: #ffccff; font-family: Georgia serif; font-size: 9pt;}
table {font-size: 9pt; font-family: Georgia serif; border-collapse: auto;}
td.tdmain0 {background: #ff99ff;border:1px solid black;}
td.tdmain1 {background: #ffccff;border:1px solid black;}
#pw99 {color: white; background-color: white;}
