body {margin-left: 1%; margin-right: 1%; color: black; background: #ccff99; background-image: url('mariposa2.jpg'); font-family: verdana; font-size: 10pt;}
table {font-size: 10pt; font-family: verdana; border-collapse: auto;}
td.tdmain0 {background: #ccff66;border:1px solid black;}
td.tdmain1 {background: #ccff99;border:1px solid black;}
#pw99 {color: white; background-color: white;}
