body {margin-left: 1%; margin-right: 1%; color: black; background: #3366cc; font-family: verdana; font-size: 12pt;}
table {font-size: 12pt; font-family: verdana; border-collapse: auto;}
td.tdmain0 {background: #0099ff;border:1px solid black;}
td.tdmain1 {background: #3366cc;border:1px solid black;}
#pw99 {color: white; background-color: white;}
